{% extends 'base.html' %}
{% load static %}


{% block title %}
    Episodes
{% endblock %}
{% block content %}
    <div class="episodes-list">
        <h2 class="episodes-head">
            Lista odcinków
        </h2>
        <form method="get" action="{% url 'player:video_list' %}">
            <label for="per-page">Odcinki na stronę:</label>
            <select id="per-page" name="per_page">
                <option value="30" {% if per_page == 30 %} selected {% endif %}>30</option>
                <option value="50" {% if per_page == 50 %} selected {% endif %}>50</option>
                <option value="100" {% if per_page == 100 %} selected {% endif %}>100</option>
            </select>
            <input type="submit" value="Zmień">
        </form>

        {% for episode in episodes %}
            {{ episode.title }}<br>
        {% endfor %}

        <div class="pagination">
            <span class="step-links">
                {% if episodes.has_previous %}
                    <a href="?page=1&per_page={{ per_page }}">&laquo;</a>
                    <a href="?page={{ episodes.previous_page_number }}&per_page={{ per_page }}">&lsaquo;</a>
                {% endif %}

                <span class="current" style="margin-top: 10px;">
                    Strona {{ episodes.number }} z {{ episodes.paginator.num_pages }}
                </span>

                {% if episodes.has_next %}
                    <a href="?page={{ episodes.next_page_number }}&per_page={{ per_page }}">&rsaquo;</a>
                    <a href="?page={{ episodes.paginator.num_pages }}&per_page={{ per_page }}">&raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
{% endblock %}