{% extends 'base.html' %}

{% block title %}
    Saved episodes
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-8">
            <div id="video-container"></div>
        </div>
        <div class="col-4 episodes-list">
            <h2 class="episodes-head">
                Lista odcinków w kolejce
            </h2>
            <ul id="episode-list"></ul>
        </div>
    </div>

    <script>
        let videosData = [
            {% for video_data in videos_data %}
                {'title': '{{ video_data.title }}',
                 'url': '{{ video_data.url }}',
                 'description': '{{ video_data.description }}'},
            {% endfor %}
        ];

        let currentIndex = 0;

        function playNextVideo() {
            if (currentIndex < videosData.length) {
                let videoData = videosData[currentIndex];
                showVideo(videoData.title, videoData.url, videoData.description);
                updateEpisodeList();

                let videoElement = document.getElementById('video-player');
                let savedVolume = getSavedVolume(); // Odczytaj zapisaną głośność

                // Ustaw głośność na zapisaną wartość lub domyślną
                videoElement.volume = savedVolume !== null ? savedVolume : 1.0;

                videoElement.addEventListener('ended', function () {
                    currentIndex++;
                    saveVolume(videoElement.volume); // Zapisz głośność po zakończeniu odtwarzania
                    setTimeout(playNextVideo, 5000);
                });
            }
        }
        function saveVolume(volume) {
            // Zapisz głośność w pamięci lokalnej
            localStorage.setItem('userVolume', volume);
        }
        function getSavedVolume() {
            // Odczytaj zapisaną głośność z pamięci lokalnej
            return parseFloat(localStorage.getItem('userVolume'));
        }
        function showVideo(title, url, description) {
            let videoContainer = document.getElementById('video-container');

            videoContainer.innerHTML = `
                <h2 class="episode-title">${title}</h2>
                <div class="video-container">
                    <video id="video-player" width="1280" height="720" controls autoplay>
                        <source src="${url}" type="video/mp4">
                        Twoja przeglądarka nie obsługuje odtwarzacza wideo.
                    </video>
                </div>
                <div class="description-container">
                    <p class="episode-description">${description}</p>
                </div>
            `;
        }
        function updateEpisodeList() {
            let episodeList = document.getElementById('episode-list');
            episodeList.innerHTML = '';

            for (let i = 0; i < videosData.length; i++) {
                let listItem = document.createElement('li');
                listItem.textContent = videosData[i].title;

                if (i === currentIndex) {
                    listItem.classList.add('current-episode');
                }

                listItem.addEventListener('click', function (index) {
                    return function () {
                        currentIndex = index;
                        playNextVideo();
                    };
                }(i));

                episodeList.appendChild(listItem);
            }
        }
        playNextVideo();
    </script>
{% endblock %}
