.logo-swk {
    font-family: 'Arial', sans-serif; /* Wybór podobnej czcionki */
    font-size: 60px; /* Rozmiar czcionki */
    font-weight: bold; /* Pogrubienie tekstu */
    color: #ffcc00; /* Kolor tekstu podobny do oryginalnego */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Dodanie cienia tekstu */
    background-repeat: no-repeat;
    position: absolute;
    top: 30px; /* dostosuj pozycję w pionie */
    left: 40px; /* dostosuj pozycję w poziomie */
}

body.overlay-active::before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #0000004D; /* Kolor czarny z 30% przezroczystości */
    z-index: 1000; /* Umieść overlay na wierzchu innych elementów */
    pointer-events: none; /* Upewnij się, że overlay nie przesłania interakcji z elementami pod nim */
}

body {
    /* Resetuj margines i padding dla body, aby uniknąć przesunięcia */
    margin: 0;
    padding: 0;
    background-color: #F0E68C;
}

.main {
    padding-top: 100px/* wysokość nagłówka */;
    transition: padding-right 0.5s ease-in-out;
}

.header-content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 90%;
    height: 90%;
    padding-bottom: 10px;
    padding-right: 40px;
    transition: padding-right 0.5s ease-in-out;
}

/*#######################################################################################*/

.sidebar {
    width: 350px;
    height: 100%;
    position: fixed;
    top: 0;
    right: -100%; /* Sidebar jest schowany po prawej stronie */
    background-color: #444 ;
    color: #fff;
    padding: 20px;
    transition: right 0.5s ease-in-out; /* Dodaj płynne przejście */
    z-index: 1000; /* Ustaw większą wartość z-index */
}


.show-sidebar {
    right: 0;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Opcjonalne: dodaje odstęp między elementami */
}
/*#######################################################################################*/
#searchForm {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

#searchInput {
    padding: 5px; /* Drobne dostosowanie paddingu dla pola tekstowego */
    margin-right: 10px;
}

#searchForm label {
    font-weight: bold;
    color: #F0E68C;
}

@media screen and (max-width: 50vh) {
    #searchForm {
        display: none;
    }
}

.button-like-link, #randomEpisode {
    margin-right: 10px;
}

header {
    display: flex;
    justify-content: flex-end;
    background-color: #556B2F;
    padding: 30px;
    position: fixed;
    width: 100%;
    flex-grow: 1;
    z-index: 999; /* Ustaw większą wartość z-index */
}

footer {
    text-align: center;
    background-color: #556B2F; /* Kolor stopki */
    padding: 30px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

button {
    background-color: #88c057; /* Kolor tła */
    color: white; /* Kolor czcionki */
    border: none;
    padding: 10px 20px;
    border-radius: 20px; /* Zaokrąglenie naroży */
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s; /* Efekt przejścia przy najechaniu */
    cursor: pointer;
    margin-right: 10px;
    display: block;
    margin-bottom: 10px;
}

button:hover {
    background-color: #6b9040; /* Ciemniejsze tło */
    color: black; /* Czcionka na czarno */
}

a {
    text-decoration: none; /* Usunięcie podkreślenia */
    color: inherit; /* Ustawienie koloru tekstu na dziedziczony od rodzica (button) */
}

.episodes-list {
    font-family: 'Comic Sans MS', cursive; /* Wybór podobnej czcionki */
    font-size: 18px; /* Rozmiar czcionki */
    line-height: 1.6; /* Interlinia, aby oddzielać tytuły */
    color: #000; /* Kolor tekstu */
    margin: 20px 0 20px 15px; /* Odstęp od innych elementów */
}

.episodes-head {
    font-size: 32px; /* Rozmiar czcionki */
    display: block;
    font-weight: bold;
    margin-bottom: 10px; /* Odstęp między tytułem a listą */
}

form {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

label {
    margin-right: 10px;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
}

select {
    padding: 10px;
    font-size: 16px;
    color: white;
    border-radius: 15px;
    background-color: #88c057;
    cursor: pointer;
    margin-right: 10px;
    border: none;
}

select:hover {
    background-color: #6b9040; /* Ciemniejsze tło */
    font-weight: bold;
    color: black;
}

select:focus {
    outline: none;
    border-color: #315632FF;
    box-shadow: 0 2px 5px grey;
}

input[type="submit"] {
    padding: 12px 20px; /
    font-size: 24px;
    background-color: #88c057;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #6b9040; /* Ciemniejsze tło */
    color: black; /* Czcionka na czarno */
    font-weight: bold;
}

.pagination{
    margin: 10px 0 0 10px;
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-container {
    position: relative;
    width: 40%;
    margin: auto;
}

.video-container video {
    width: 100%;
    height: auto;
}

.description-container {
    text-align: center;
    margin-top: 20px; /* Ustaw stałą odległość między description a video */
    box-sizing: border-box; /* Uwzględnij marginesy i paddingi w szerokości elementu */
    padding: 10px;

}

.episode-title {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    margin-top: 30px;
    font-weight: bold;
    color: #333;
    text-align: center;
    position: relative;
}

.episode-description {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    text-align: left;
    border: 1px solid #CCCCCC00;
    border-radius: 20px;
    background-color: #E0D68A;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    overflow: hidden;
}

.current-episode {
    font-weight: bold;
    color: #007bff; /* Kolor zaznaczonego odcinka */
    cursor: pointer;
}



/*DAA520*/