{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>ŚWK Player | {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'djangoPlayer/styles.css' %}">
        <script src="{%  static 'djangoPlayer/scripts.js' %}"></script>

    </head>
    <body>
        <div class="overlay">
            <header>
                <div class="logo-swk">
                    <a href="{% url 'index.html' %}">ŚWK</a>
                </div>
                <div class="header-content">
                    <button id="openSidebarButton">&#9776; Menu</button>
                </div>
            </header>
            <div class="main">
                <div class="sidebar">
                    <div class="sidebar-content">
                        <form action="{% url 'player:search_episodes' %}" method="post" id="searchForm">
                            {% csrf_token %}
                            <label for="searchInput">Odcinek:</label>
                            <input type="text" id="searchInput" name="search_input" placeholder="Tytuł odcinka">
                            <button type="submit" id="searchButton">Szukaj</button>
                        </form>
                        <button><a href="{% url 'player:video_list' %}">Lista odcinków</a></button>
                        <button id="randomEpisode">Wylosuj odcinek</button>
                    </div>
                </div>
                <input type="hidden" id="totalEpisodes" value="{{ available_episodes|safe }}">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>